.flow-header-flex {
	display: flex;
	align-items: baseline;

	div {
		font-size: 80%;
		margin-left: 20px;
		color: var(--text-muted);

		&::before {
			content: '|';
			margin-right: 5px;
		}
	}
}

li[data-task="w"] {
	input[type="checkbox"]:after {
		background-color: var(--checkbox-waiting-color);
	}
}

body.flow-dev-branch::before {
	content: "You are not on the main branch";
	display: block;
	width: 100%;
	background-color: #ffeb3b;
	color: #000;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
