.flow-header-flex {
	display: flex;
	align-items: baseline;

	div {
		font-size: 80%;
		margin-left: 20px;
		color: var(--text-muted);

		&::before {
			content: '|';
			margin-right: 5px;
		}
	}
}

li[data-task="w"] {
	input[type="checkbox"]:after {
		background-color: var(--checkbox-waiting-color);
	}
}
