.flow-modal-content {
	button {
		margin-left: 10px;

		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

.flow-project-modal {

	input,
	textarea {
		width: 100%;
	}

	.description {

		textarea {
			height: 3lh;
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

.flow-files-modal-selector {
	button {
		margin: 2px;
	}

	.flow-search {
		width: 100%;
		margin-bottom: 20px;
	}
}
