.flow-modal-content {
	margin-bottom: 15px;

	button {
		margin-right: 10px;

		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

.flow-files-modal-selector {
	button {
		margin: 2px;
	}

	.flow-search {
		width: 100%;
		margin-bottom: 20px;
	}
}
