.flow-modal {
	button {
		margin: 0 8px 10px 0;
	}

	.warning {
		margin-bottom: 10px;
		margin-top: 10px;
		color: var(--text-warning);
	}
}

.flow-modal-content {
	button {
		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

.flow-modal-sphere-selector {
	margin-bottom: 10px;
}

.flow-project-modal {

	input,
	textarea {
		width: 100%;
	}

	.description {

		textarea {
			height: 3lh;
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

.flow-files-modal-selector {
	button {
		margin: 2px;
	}

	.flow-search {
		width: 100%;
		margin-bottom: 20px;
	}
}

.flow-add-to-inbox-modal {
	input {
		width: 100%;
	}

	button {
		margin: 20px 0 0 0;
	}
}
