.flow-checks {
	.settings {
		button {
			display: block;
			width: 100%;
			height: auto;
			white-space: normal;
			word-wrap: break-word;
		}
	}
}

.flow-setup-complete {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	button {
		background-color: var(--color-green);
		color: white;
		cursor: pointer;

		&:hover {
			opacity: 0.9;
			transform: translateY(-1px);
		}
	}
}
