.flow-sphere-view {
	h1 {
		padding: 10px;
		background-color: var(--background-secondary);
	}

	h1:after {
		content: "SPHERE ";
		font-size: 50%;
		color: var(--text-faint);
		margin-left: 10px;
	}
}

.flow-sphere-banner {
	display: none;
}

.flow-sphere-in-planning-mode {
	filter: sepia(30%);

	h1 {
		&:after {
			content: "SPHERE — You are in planning mode 📝";
			color: var(--color-red);
		}
	}

	.planned-item {
		font-style: italic;
		color: var(--text-muted);
	}

	.flow-sphere-banner {
		display: block;
		width: 100%;
		background-color: var(--color-blue);
		color: #000;
		text-align: center;
		padding: 3px;
		font-size: 10px;
		font-weight: bold;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;

		button {
			height: 15px;
		}
	}

}

.flow-no-actionables {
	color: var(--text-faint);

	a {
		color: var(--text-faint);
	}
}
