.flow-sphere-view {
	h1 {
		padding: 10px;
		background-color: var(--background-secondary);
	}

	h1:after {
		content: "SPHERE ";
		font-size: 50%;
		color: var(--text-faint);
		margin-left: 10px;
	}
}

.flow-sphere-in-planning-mode {
	filter: sepia(80%);

	h1 {
		&:after {
			content: "SPHERE (📝 You are in planning mode)";
			color: var(--color-red);
		}
	}

	.planned-item {
		font-style: italic;
		color: var(--text-muted);
	}
}

.flow-no-actionables {
	color: var(--text-faint);

	a {
		color: var(--text-faint);
	}
}
