.flow-processing {
	textarea {
		width: 100%;
	}
}

.flow-modal-content {
	margin-bottom: 15px;

	button {
		margin-right: 10px;

		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

#flow-note-container {
	user-select: text;
}

.flow-sphere-in-planning-mode {
	filter: sepia(50%);
}

#flow-planning-task-container {
	li {
		display: flex;
	}

	button {
		margin-left: 10px;
	}
}
