.flow-processing {
	textarea {
		font-size: 120%;
		padding: 20px;
		width: 100%;
	}

	.flow-processing-actions {
		margin-top: 20px;
	}
}

.flow-modal-content {
	margin-bottom: 15px;

	button {
		margin-right: 10px;

		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

.flow-note-container {
	user-select: text;
}

.flow-sphere-in-planning-mode {
	filter: sepia(50%);
}

.flow-planning-view-container {
	hr {
		margin: 0 0 10px 0;
	}

	.flow-planning-view-actions {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.flow-planning-task-container {
		font-size: 87%;

		li {
			display: flex;
		}

		button {
			margin-left: 10px;
		}

		ul.contains-task-list {
			margin-top: 0;
		}

		.flow-project-name {
			font-size: 80%;
			color: var(--text-muted);
		}
	}

	.flow-planning-view-sphere-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 12px;
		line-height: 12px;
		vertical-align: middle;

		.flow-planning-view-sphere-header {
			color: var(--text-muted);
			margin: 0 4px 0 0;
		}

		button {
			height: 15px;
			margin: 0 5px 5px 0;
		}

	}
}

.flow-files-modal-selector {
	button {
		margin: 2px;
	}

	.flow-search {
		width: 100%;
		margin-bottom: 20px;
	}
}
