.flow-processing {
	textarea {
		width: 100%;
	}
}

.flow-modal-content {
	margin-bottom: 15px;

	button {
		margin-right: 10px;

		&.selected {
			background-color: var(--interactive-accent);
		}
	}
}

button.flow-modal-done {
	background-color: var(--interactive-accent);
}

.flow-note-container {
	user-select: text;
}

.flow-sphere-in-planning-mode {
	filter: sepia(50%);
}

.flow-planning-view-container {

	.flow-planning-view-actions {
		width: 100%;
		text-align: center;
	}

	.flow-planning-task-container {
		font-size: 87%;

		li {
			display: flex;
		}

		button {
			margin-left: 10px;
		}
	}
}

.flow-project-container {
	button {
		margin: 2px;
	}
}

.flow-project-modal-selector {
	.flow-search {
		width: 100%;
		margin-bottom: 20px;
	}
}
