name: Release Flow

on:
    push:
        tags:
            - '*'

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

			- name: Use Bun
			  uses: oven-sh/setup-bun@v2
			  with:
				  bun-version: latest

			- name: Use Node.js
			  uses: actions/setup-node@v4
			 with:
				  node-version: latest

            - name: Build plugin
              run: |
                  bun install
                  bun run build

            - name: Create release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  tag="${GITHUB_REF#refs/tags/}"

                  gh release create "$tag" \
                    --title="$tag" \
                    --draft \
                    main.js manifest.json styles.css
